#nike,
#puppy,
#funny {
  border-left-style: solid;
  border-color: yellow;
  position: relative;
  z-index: 0;
  opacity: 0.5;
}

#nike-layer,
#puppy-layer,
#funny-layer {
  width: 560px;
  height: 382px;
  position: absolute;
  color: #eee;
  z-index: 2;
}

h2 {
  text-align: center;
  padding-top: 25%;
  font-size: 48px;
  font-weight: bolder;
}
