#nike,
#puppy,
#funny {
  border-left-style: solid;
  border-color: rgb(55, 90, 127);
  position: relative;
  z-index: 0;
  opacity: 0.5;
}

#nike-layer,
#puppy-layer,
#funny-layer {
  width: 100%;
  height: 382.11px;
  position: absolute;
  color: #eee;
  z-index: 99;
}

h2 {
  text-align: center;
  padding-top: 25%;
  font-size: 48px;
  font-weight: bolder;
}

.navbar {
  margin-bottom: unset;
}

#video-size {
  width: 840px;
  height: 480px;
  position: relative;
  z-index: 95;
  left: 15%;
  margin-top: -26%;
}

#camera {
  position: absolute;
  z-index: 94;
  top: 23%;
  left: 16%;
}

#video {
  display: block;
  width: 840px;
  height: 480px;
  position: absolute;
  z-index: 25;
}
